{% extends "layout.html" %}
{% block body %}
<style type="text/css">
  .admin-a {
    transition: all 0.2s ease-in-out;
  }

  .admin-a:hover {
    color: #212529;
    text-decoration: none;
  }

  .scroll{
    height: 550px;
    overflow-y: scroll;
  }
</style>
<!-- Page Header -->
<!-- Img by vectezee -->
<header class="masthead" style="background-image: url('{{ url_for('static', filename='img/post.jpg')}}')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>Editing Panel</h1>
          <span class="subheading">Edit Your Posts</span>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="container">
  <a href="/dashboard"><button class="btn btn-primary float-left"><i class="fas fa-tachometer-alt"></i></button></a>
  <a href="/"><button class="btn btn-primary float-right"><i class="fas fa-house-user"></i></button></a>
  <br>
  <br>
  <hr>
  <h2 class="my-5">Add/Edit Your Posts</h2>
  <form name="sentMessage" id="contactForm" novalidate action="/edit/{{post.sno}}" method="post">
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Title</label>
              <input type="text" class="form-control" placeholder="Title" id="title" name="title" required data-validation-required-message="Please enter your name." value="{{post.post_name}}">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Slug</label>
              <input type="text" class="form-control" placeholder="Slug" name="slug" id="slug" required data-validation-required-message="Please enter your email address." value="{{post.slug}}">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
              <label>Image File</label>
              <input type="text" class="form-control" placeholder="Image File" name="img" id="img" required data-validation-required-message="Please enter your phone number." value="{{post.img_file}}">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Content</label>
              <textarea rows="5" class="form-control" placeholder="Content" name="content" id="content" required data-validation-required-message="Please enter a message.">{{post.post_content}}</textarea>
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <br>
          <div id="success"></div>
          <button type="submit" class="btn btn-primary" id="sendMessageButton">Edit Post</button>
        </form>
</div>


{% endblock %}